.ProfileInfo {
    box-sizing: border-box;
}

.HeadingHolder {
    text-align: center;
    background: rgba(76, 169, 207, 0.9);
    padding: 10px;
}

.HeadingText {
    margin: 0;
}

.imgHolder {
    text-align: center;
}

.GitHubImage {
    display: inline-block;
    max-width: 200px;
    border-radius: 50%;
}

.ImgAvatar {
    display: block;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #c0c0d9;
    -webkit-box-shadow: 2px 2px 44px 5px rgba(60, 65, 158, 1);
    box-shadow: 2px 2px 44px 5px rgb(9, 12, 70);
    animation: bounce 1.5s infinite;
}

.GitProfileInfo {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

@keyframes bounce {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 599px) {
    .GitHubImage {
        max-width: 100px;
    }
}