.App {
  text-align: center;
}

* {
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.HeadingHolder {
  text-align: center;
  background: rgba(76, 169, 207, 0.9);
  padding: 10px;
}

.HeadingText {
  margin: 0;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  margin: 10px;
  transition: opacity 0.5s ease-in;
}

a:hover {
  opacity: 0.4;
}

